<ion-header>
  <ion-toolbar>
    <ion-title>Crear Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onCreate()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoEstudiante.firstName" name="firstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="nuevoEstudiante.lastName" name="lastName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="nuevoEstudiante.email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="nuevoEstudiante.phone" name="phone" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Crear</ion-button>
    <ion-button expand="full" color="light" routerLink="/list-estudiantes">Cancelar</ion-button>
  </form>
</ion-content>